<%- include('adminHeader') %>

<div class="form-container">
  <form id="addCategoryForm" action="/returnApproval" method="POST">
    <div class="form-group">
      <input type="hidden" name="orderId" value="<%= orderId %>" />
      <input type="hidden" name="itemIndex" value="<%= itemIndex %>" />
      <label for="status">Return request</label>
      <select class="form-control" name="status" id="status" required>
        <option value="" disabled selected>Select</option>
        <option value="cancel">Cancel</option>
        <option value="approve">Approve</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<%- include('adminFooter') %>
